@import '~vuetify/src/styles/styles.sass';
@import '~vuetify/src/styles/settings/_variables.scss';

$border-radius-root: 20px;
$font-size-root: 14px;
$font-color-root : #353535;
$card-title-font-size: map-deep-get($headings, 'subtitle-2', 'size') !default;
$card-subtitle-font-size: map-deep-get($headings, 'caption', '5') !default;
// $btn-font-weight: 700;
