<template>
  <v-card
    elevation="1"
    :height="height"
    :class="
      (radiusBottom ? 'radius-bottom' : '') + (radiusTop ? 'radius-top' : '')
    "
  >
    <v-card-text class="pa-5">
      <v-row no-gutters>
        <div>
          <div class="text-subtitle-1 font-weight-bold">
            Aransemen Musik 2021
          </div>
          <div class="body-2">Personal Brand</div>
        </div>
        <v-spacer></v-spacer>
        <v-chip class="mt-1" color="#6969DF" label text-color="white">
          <div class="ma-2">
            <v-icon left small> mdi-music </v-icon>
            Musik Kita
          </div>
        </v-chip>
      </v-row>
      <v-row no-gutters class="mt-5">
        <v-col cols="12" class="px-1">
          <v-img
            style="border-radius: 20px"
            src="~@/assets/image/aransemen_music.jpg"
            height="140"
          ></v-img>
        </v-col>
      </v-row>
      <v-row no-gutters class="mt-4">
        <p style="margin: 0px">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima
          culpa, consequatur beatae nobis doloribus neque obcaecati natus id! Ad
          atque esse, iure voluptate mollitia sit nobis consectetur? Odit,
          consectetur eaque!
        </p>
      </v-row>
    </v-card-text>
  </v-card>
</template>

<script>
export default {
  props: {
    height: {
      default: "100%",
    },
    radiusTop: {
      default: false,
    },
    radiusBottom: {
      default: false,
    },
  },
};
</script>

<style lang="scss" scoped>
.radius-bottom {
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}
.radius-top {
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
}
</style>
