<template>
  <div class="mb-3">
    <v-row>
      <v-col cols="3" class="d-none d-md-flex">
        <v-row>
          <v-col cols="5">
            <div class="align-start">
              <v-icon left color="amber">mdi-calendar</v-icon>
              <span class="white--text">{{ date("DD-mm-yyyy") }}</span>
            </div>
          </v-col>
          <v-col>
            <div class="align-start">
              <v-icon left color="amber">mdi-clock</v-icon>
              <span class="white--text">{{ date("HH:mm") }}</span>
            </div>
          </v-col>
        </v-row>
      </v-col>
      <v-col cols="8">
        <span class="d-flex justify-center font-weight-bold text-h4"
          >MAJALAH DIGITAL</span
        >
      </v-col>
      <v-spacer></v-spacer>
      <v-col cols="1">
        <v-img src="~@/assets/bts.svg" contain height="35"></v-img>
      </v-col>
    </v-row>
  </div>
</template>

<script>
export default {
  methods: {
    date(format) {
      // return setInterval(function () {
      return this.$moment().format(format);
      // }, 1000);
    },
  },
};
</script>

<style lang="stylus" scoped></style>
